  
  
  
    /*
    *
    *  © Maybe Ange™ Corporation - All rights reserved.
    *
    *  This website is protected by copyright laws and is the property of Maybe Ange™ Corporation.
    *  Any reproduction, modification, distribution or exploitation of all or part of the content of this site, in any form whatsoever, without prior written authorization, is strictly prohibited.
    *  For any request for authorization or to obtain additional information on the rights to use the content of this site, please contact us via https://maybe-ange.com/#contact
    *
    *  License: CC-BY-ND-4.0
    *
    */


  
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Oswald&family=Poppins:wght@400;600;800&family=Roboto+Condensed:wght@400;600&display=swap');

    :root {
        --background-color: #000;
        --text-color: #fff;
        --menu-background-color: #111;
        --banner-background-color: #222;
        --banner-text-color: #fff;
        --section-background-color: #333;
        --section-text-color: #fff;
        --section-heading-color: #ff9900;
        --link-color: #00bfff;
        --positive-color: #4bf229;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    ::placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: var(--menu-background-color);
    }

    .banner-section {
        background-color: var(--banner-background-color);
        color: var(--banner-text-color);
    }

    section {
        background-color: var(--section-background-color);
        color: var(--section-text-color);
    }

    button {
        font-family: 'Montserrat', sans-serif;
    }